workflows/flowerShop/FlowerShopToVector.json
{
  "updatedAt": "2026-03-11T08:31:29.093Z",
  "createdAt": "2025-11-29T09:08:26.080Z",
  "id": "HbDXyfJxwlFjj2qs",
  "name": "FlowerShopToVector",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "17S1KLGeCYgyHou1kqKl1pNnUN67vYIj4",
          "mode": "list",
          "cachedResultName": "flowerShop",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17S1KLGeCYgyHou1kqKl1pNnUN67vYIj4"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1504,
        -288
      ],
      "id": "cd6cd561-daea-4efb-99d4-ebce27264532",
      "name": "FileCreate",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mjmIyOXu9gJdUp8L",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "17S1KLGeCYgyHou1kqKl1pNnUN67vYIj4",
          "mode": "list",
          "cachedResultName": "flowerShop",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17S1KLGeCYgyHou1kqKl1pNnUN67vYIj4"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1504,
        96
      ],
      "id": "78e37fc9-ffd2-4a1a-b432-843b21509344",
      "name": "FileUpdate",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mjmIyOXu9gJdUp8L",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00bfe72e-ac2d-4ef9-8ebd-ec1ab5091e63",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "6994272d-baa1-4112-aa17-b436c5646d13",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        -96
      ],
      "id": "0d11421f-2cf5-4946-84c6-efa1cc4a880f",
      "name": "SetFileId"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -768,
        -96
      ],
      "id": "07400a24-ffa9-43b9-b532-1a8219fd2d07",
      "name": "ExtractFromFile"
    },
    {
      "parameters": {
        "jsCode": "// Alle Items vom vorherigen Node holen\nconst items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const block = item.json.block;\n\n  // 1) Titel parsen: \"**Nr. 1 – Sonniger Gruß** (Niedrigpreis)\"\n  // Format: **Nr. X – Name** (Preiskategorie)\n  const titleMatch = block.match(/^\\*\\*Nr\\.\\s*(\\d+)\\s*–\\s*(.+?)\\*\\*\\s*(?:\\((\\w+)\\))?$/m);\n  if (!titleMatch) {\n    // Kein gültiger Konfigurationsblock -> überspringen\n    continue;\n  }\n\n  const id = titleMatch[1];\n  const name = titleMatch[2].trim();\n  const priceCategory = titleMatch[3] ? titleMatch[3].trim() : null; // Niedrigpreis, Mittelpreis, Hochpreis\n\n  // Zeilenweise arbeiten\n  const lines = block.split('\\n');\n\n  // Hilfsfunktion: Finde den Index einer Zeile mit bestimmtem Prefix\n  const findLineIndex = (prefix) =>\n    lines.findIndex(l => l.trim().startsWith(prefix));\n\n  // Hilfsfunktion: Hole die nächste nicht-leere Zeile nach einem Index\n  const getNextNonEmptyLine = (startIndex) => {\n    for (let i = startIndex + 1; i < lines.length; i++) {\n      const trimmed = lines[i].trim();\n      if (trimmed.length > 0 && !trimmed.startsWith('**')) {\n        return trimmed;\n      }\n    }\n    return '';\n  };\n\n  // 2) Artikel parsen: Zeilen die mit \"* B\" beginnen\n  // Neues Format: \"* B1018 – Sonnenblume – Menge: 3× – Preis: 7,53 €\"\n  const articles = [];\n  const articleLines = lines.filter(l => l.trim().startsWith('* B'));\n  \n  for (const line of articleLines) {\n    const articleMatch = line.match(/\\*\\s*(B\\d+)\\s*–\\s*(.+?)\\s*–\\s*Menge:\\s*(\\d+)×\\s*–\\s*Preis:\\s*([\\d,]+)\\s*€/);\n    if (articleMatch) {\n      articles.push({\n        articleId: articleMatch[1],\n        productName: articleMatch[2].trim(),\n        quantity: parseInt(articleMatch[3], 10),\n        unitPrice: parseFloat(articleMatch[4].replace(',', '.'))\n      });\n    }\n  }\n\n  // 3) Gesamtpreis parsen\n  const priceLineIndex = findLineIndex('**Gesamtpreis:**');\n  let price = null;\n  if (priceLineIndex !== -1) {\n    const priceLine = lines[priceLineIndex].trim();\n    const priceMatch = priceLine.match(/\\*\\*Gesamtpreis:\\*\\*\\s*([\\d,]+)\\s*€/);\n    if (priceMatch) {\n      price = parseFloat(priceMatch[1].replace(',', '.'));\n    }\n  }\n\n  // 4) Tags parsen (auf der nächsten Zeile nach **Tags:**)\n  const tagsLineIndex = findLineIndex('**Tags:**');\n  let tags = [];\n  if (tagsLineIndex !== -1) {\n    const tagsLine = getNextNonEmptyLine(tagsLineIndex);\n    tags = tagsLine\n      .split('#')\n      .map(t => t.trim())\n      .filter(t => t.length > 0);\n  }\n\n  // 5) Anlass parsen (auf der nächsten Zeile nach **Anlass:**)\n  const occasionLineIndex = findLineIndex('**Anlass:**');\n  let occasions = [];\n  if (occasionLineIndex !== -1) {\n    const occasionLine = getNextNonEmptyLine(occasionLineIndex);\n    occasions = occasionLine\n      .split(',')\n      .map(o => o.trim())\n      .filter(o => o.length > 0);\n  }\n\n  // 6) Beschreibung parsen (auf der nächsten Zeile nach **Beschreibung:**)\n  const descLineIndex = findLineIndex('**Beschreibung:**');\n  let description = '';\n  if (descLineIndex !== -1) {\n    description = getNextNonEmptyLine(descLineIndex);\n  }\n\n  // Artikel-IDs für das Embedding extrahieren\n  const articleIds = articles.map(a => a.articleId);\n  const articleSummary = articles\n    .map(a => `${a.articleId} ${a.productName} (${a.quantity}×)`)\n    .join(', ');\n\n  // Text für Embedding\n  const textForEmbedding = `\nName: ${name}.\nPreiskategorie: ${priceCategory || 'Nicht angegeben'}.\nBeschreibung: ${description}.\nTags: ${tags.join(', ')}.\nAnlass: ${occasions.join(', ')}.\nArtikel: ${articleSummary}.\nPreis: ${price} Euro.\n`.trim();\n\n  // Sauberes Item im erwarteten Format\n  output.push({\n    json: {\n      configId: id,\n      name,\n      priceCategory,   // Niedrigpreis, Mittelpreis, Hochpreis\n      description,\n      price,\n      articles,        // Array mit {articleId, productName, quantity, unitPrice}\n      articleIds,      // Nur die IDs als Array\n      tags,\n      occasions,\n      textForEmbedding,\n    },\n  });\n}\n\n// Alle erzeugten Items zurückgeben\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -96
      ],
      "id": "8dbb8749-67cc-4d5f-8e3a-df13b8bd4bd0",
      "name": "ParseConfigBlocks"
    },
    {
      "parameters": {
        "jsCode": "const fullText = $json.text;\n\nconst blocks = fullText\n  .split('---')\n  .map(b => b.trim())\n  .filter(b => b.length > 0);\n\nreturn blocks.map(block => ({ json: { block } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -96
      ],
      "id": "a8df1875-cdeb-4c7e-9990-9aec5b1272ee",
      "name": "SplitConfigBlocks"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "flowerShop_doc_vectors",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -192,
        -96
      ],
      "id": "eb6d18ce-52e8-49c1-914a-c36019ce07d5",
      "name": "PGVectorStore",
      "credentials": {
        "postgres": {
          "id": "UoqszLjcmzlEQ1H5",
          "name": "PGVector"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM flowerShop_doc_vectors\nWHERE metadata#>>'{file_id}'='{{$json.file_id}}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1136,
        -96
      ],
      "id": "6f011ec6-52f4-415d-a703-e5465936d218",
      "name": "DeleteExistItems",
      "credentials": {
        "postgres": {
          "id": "UoqszLjcmzlEQ1H5",
          "name": "PGVector"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('SetFileId').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -960,
        -96
      ],
      "id": "301ca17e-d6f2-4375-8147-45764c79584a",
      "name": "DownloadFile",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mjmIyOXu9gJdUp8L",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1696,
        -96
      ],
      "id": "fa4bb4e3-e6b0-4df2-ba7b-48bf07362fbe",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "17S1KLGeCYgyHou1kqKl1pNnUN67vYIj4",
            "mode": "list",
            "cachedResultName": "flowerShop",
            "cachedResultUrl": "https://drive.google.com/drive/folders/17S1KLGeCYgyHou1kqKl1pNnUN67vYIj4"
          }
        },
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1504,
        -96
      ],
      "id": "f2b22471-ad8e-4d81-805d-9974b84f29d0",
      "name": "GetFolderFiles",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mjmIyOXu9gJdUp8L",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -192,
        128
      ],
      "id": "8ace9273-081c-4ec1-a71b-3769dbfe12c4",
      "name": "Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "avFMsETk9vzF57mg",
          "name": "OpenAiISO"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.textForEmbedding }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('SetFileId').first().json.file_id }}"
              },
              {
                "name": "configId",
                "value": "={{ $json.configId }}"
              },
              {
                "name": "name",
                "value": "={{ $json.name }}"
              },
              {
                "name": "price",
                "value": "={{ $json.price }}"
              },
              {
                "name": "articles",
                "value": "={{ $json.articles }}"
              },
              {
                "name": "occasions",
                "value": "={{ $json.occasions }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -48,
        128
      ],
      "id": "df72aa1f-2263-4f34-80fe-f8bf465bb4ea",
      "name": "DefaultDataLoader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -48,
        336
      ],
      "id": "cf8557c9-de6e-4058-9305-52bd92eb9700",
      "name": "Character Text Splitter"
    }
  ],
  "connections": {
    "FileUpdate": {
      "main": [
        [
          {
            "node": "SetFileId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FileCreate": {
      "main": [
        [
          {
            "node": "SetFileId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetFileId": {
      "main": [
        [
          {
            "node": "DeleteExistItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtractFromFile": {
      "main": [
        [
          {
            "node": "SplitConfigBlocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitConfigBlocks": {
      "main": [
        [
          {
            "node": "ParseConfigBlocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseConfigBlocks": {
      "main": [
        [
          {
            "node": "PGVectorStore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PGVectorStore": {
      "main": [
        []
      ]
    },
    "DeleteExistItems": {
      "main": [
        [
          {
            "node": "DownloadFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownloadFile": {
      "main": [
        [
          {
            "node": "ExtractFromFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GetFolderFiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetFolderFiles": {
      "main": [
        [
          {
            "node": "SetFileId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "PGVectorStore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "DefaultDataLoader": {
      "ai_document": [
        [
          {
            "node": "PGVectorStore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "DefaultDataLoader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "12219e8a-00f2-4ecc-a64b-5001161fe8b3",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-29T09:08:26.083Z",
      "createdAt": "2025-11-29T09:08:26.083Z",
      "role": "workflow:owner",
      "workflowId": "HbDXyfJxwlFjj2qs",
      "projectId": "NGVmW0kzxTFQBNsK"
    }
  ],
  "activeVersion": null,
  "tags": []
}